* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #2c3333;
  color: #f5f2e7;
}
html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  font-size: 5rem;
  margin-top: 17%;
  width: 300px;
  height: 180px;
  border: 1px solid #f5f2e7;
}

button {
  width: 15%;
  font-size: 1rem;
  margin-right: 10px;
  padding: 12px;
  text-align: center;
  border-radius: 50%;
  background-color: #2c3333;
  color: #f5f2e7;
}
